.Header
    display: grid
    top: 0
    left: 0
    position: fixed
    background-color: black
    width: 100%
    margin: 10px
    .HeaderContainer
        margin: 10px
        display: grid 
        //grid-template-columns: 1fr 1fr
        //justify-content: center
        //justify-items: center
        //align-items: center
        background-color: pink
        .HeadercontainerSpace
            margin: 10px
            display: grid
            background-color: blue
            .HeadercontainerSpaceLogo
                height: 60px
                background-color: red
            .HeadercontainerSpacetitle
                display: grid
                justify-content: center
                background-color:purple

    .HeaderMenu
        display: grid
